@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif), serif;
  --font-sans: var(--font-sans), sans-serif;
}

/* Hide scrollbars for categories navigation */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
